/codeParticles_Full/codeParticles_Full/bin
/codeParticles_Full/codeParticles_Full/obj
/codeParticles_Full/CodeParticles.DataModels/bin
/codeParticles_Full/CodeParticles.DataModels/obj
/codeParticles_Full/codeParticles_Full.v11.suo
